{% extends 'base.html' %}
{% block content %}

<div class="card" style="width: 50vw;align-self:center">
    <div class="card-header">
        <h1>Добро пожаловать в {{ title }}!</h1>
    </div>
    {% load static %}
    <img src="{% static 'img/index.jpg' %}" style="height: 60vh;" class="card-img-top" alt="стартовое изображение">
    <div class="card-body">
      <p class="card-text">
        "Приют домашних животных" - единственный приют для животных, который комплексно подходит к вопросу спасения бывших домашних питомцев.
        Все сотрудники нашей команды – в прошлом волонтеры, за плечами каждого из них десятки спасенных жизней. На собственном опыте,
        методом проб и ошибок, мы разработали систему, при которой у любого животного – будь это возрастной питомец или животное-инвалид
        – появляется шанс стать домашним и счастливым.  Мы работаем с опекунами на партнерских условиях, 
        вы – приносите нам подопечного и обеспечиваете финансовую составляющую его жизни, мы, в свою очередь,
         – берем на себя всю работу от момента поступления кошки и вплоть до нахождения ей ответственных хозяев.
        </p>
    </div>
    <div class="card-footer text-muted">
        Сейчас наших питомцев ищут свой новый дом: {{ animals_count }}
      </div>
  </div>
{% endblock %}
